<h1>Editing post</h1>

<!-- 
	anamitra: 'form' here is a partial template in the same directory, where the actual name of the partial template is: '_form.html.erb'.
	the reason that, the form has been moved into a partial template and being accessed here is that, both 'edit' and 'new' will need to use a form, so why repeat? rather use 'DRY' !!
-->
<%= render 'form' %> 

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
